# 依赖
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 数据库
*.db
*.db-journal

# 环境变量
.env

# 日志
logs/
*.log

# 操作系统
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# 临时文件
tmp/
temp/
*.tmp

# 备份文件
*.backup
*.bak
